<div class="container p-2">
    <div class="d-flex justify-content-between align-items-center">
        <div class="text-black fs-1 ">User list</div>
        <div class="d-flex gap-2">
        <button (click)="NavigateToForm('reactive')" class="btn btn-purple">Add using ReactiveForm</button>
        <button  (click)="NavigateToForm('template-directive')" class="btn btn-purple">Add using TemplateDrivenForm</button>
    </div>
    </div>
    <app-data-table [data]="userList"></app-data-table>
</div>