.btn-purple {
    background-color: purple;
    color: white;
}

.btn-outline-purple {
    color: purple;
    border-color: purple;
}

.btn-outline-purple:hover {
    color: white;
    background-color: purple;
}